<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fresh From The Garden</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/album/">
    <!-- Bootstrap core CSS -->
    <link href="envstyle/assets/dist/css/bootstrap.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="envstyle/style.css" rel="stylesheet">
</head>

<body>
    <script src="envstyle/envcode.js"></script>
    <script src="envstyle/jquery-3.5.1.js"></script>
    <script src="envstyle/show.js">
    </script>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4 class="text-white">About</h4>
                        <p class="text-muted">Add some information about the album below, the author, or any other
                            background
                            context. Make it a few sentences long so folks can pick up some informative tidbits. Then,
                            link them off
                            to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">Follow on Twitter</a></li>
                            <li><a href="#" class="text-white">Like on Facebook</a></li>
                            <li><a href="#" class="text-white">Email me</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between">
                <a class="navbar-brand d-flex align-items-center">
                    <strong>Fresh From The Garden</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>

    <main role="main">
        <section class="jumbotron text-center big-banner">
            <div class="container">
                <h1>Fresh From The Garden</h1>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SignPage">Sign
                    Up</button>
            </div>
        </section>
        <div id="SignPage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="notif-result-success"></div>
                        <div class="form-group">
                            <label for="UsernameIn">Username</label>
                            <input type="text" class="form-control" id="UsernameIn" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="PasswordIn">Password</label>
                            <input type="password" class="form-control" id="PasswordIn" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="signup_send" type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-8">
                    <div id="notif-result"></div>
                    <form id="login-form">
                        <div class="form-group">
                            <label for="tittle">username :</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="name">password :</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                    </form>
                    <button id="login_send" type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="col">

                </div>
            </div>

        </div>
    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
    <script>window.jQuery || document.write('<script src="envstyle/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="envstyle/assets/dist/js/bootstrap.bundle.js"></script>
</body>

</html>