<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="envstyle/style.css" />
    <title>Fresh From The Garden</title>
</head>

<body>
    <div class="wrapper_main">
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>Product</a></li>
            </ul>
        </nav>

        <form action="/add_product" target="_blank" method="get">
            <label for="tittle">Tittle :</label><br>
            <input type="text" id="tittle" name="tittle" value=""><br>
            <label for="name">Product name:</label><br>
            <input type="text" id="name" name="name" value=""><br>
            <label for="price">Price product:</label><br>
            <input type="text" id="price" name="price" value=""><br>
            <label for="amount">Amount product:</label><br>
            <input type="text" id="amount" name="amount" value=""><br>
            <label for="quality">Quality product:</label><br>
            <input type="text" id="quality" name="quality" value=""><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>