<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>jQuery.post demo</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>

<body>
    <form id="searchForm">
        <div class="form-group">
            <label for="tittle">username :</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="name">password :</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <input type="submit" value="Search">
    </form>
    <form id="searchForm">
        <input type="text" name="s" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    <!-- the result of the search will be rendered inside this div -->
    <div id="result"></div>

    <script src="envstyle/show.js"></script>

</body>

</html>